  <div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success" type="button" (click)="wiscc()">What is carbon footprint</button>
        <button class="btn btn-outline-success" type="button" (click)="about()">About Us</button>
        <button class="btn btn-outline-success" type="button" (click)="kyourcc()">Know your Carbon Footprint</button>
      </form>
    </nav>
    <div class="quote">"Green Is A Trend Sustainability Is A Mindset !!"</div>
  </div>
  <!-- <app-calcarbon></app-calcarbon> -->
  <!-- <app-what-is-cc></app-what-is-cc> -->
  <!-- <app-about-us></app-about-us> -->
  <router-outlet></router-outlet>
