<main>
    <article>

      <!-- 
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolioAngular.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Personal portfolio using Angular</h3>

                  <p class="card-text">
                    I have designed a personal portfolio using Angular latest version. I have also used Material ui library. Here I have mentioned a working contact form using Email.js package. You can send me the mail through this.
                  </p>

                  <a href="https://gitlab.com/angular_lerning/angular-gettingstarted" class="btn btn-primary">View Code</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolioBootstrap.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Personal portfolio using Bootstrap</h3>

                  <p class="card-text">
                    I have designed my personal portfolio using Plain HTML, CSS and Bootstrap. Here I have provided the link to download my cv to any of the person exploring my website.
                  </p>

                  <a href="https://gitlab.com/reactlearning2784136/portfolio_react" class="btn btn-primary">View Code</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/MakeMyList.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Website Design for Marketing Agency Startup</h3>

                  <p class="card-text">
                    User can register, login and create varous lists like grossary list, todo list, ...etc. User can also download the pdf format of particular list. It has nice animated UI with panda. Currently working on this project
                  </p>

                  <a href="https://gitlab.com/express_learning/express_project" class="btn btn-primary">View code</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/MiniCalender.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Website Design for Mini project</h3>

                  <p class="card-text">
                    This project highlight the calender of the month and year you select from dropdown. When you enter the date in bottom input it highlight the date with green backgroung. When you enter again same date it remove green background.
                  </p>

                  <a href="https://highlight-date-calender.netlify.app" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>