body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("src/assets/R.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
