<main>
    <article>

      <!-- 
        - #CONTACT
      -->

      <section class="section contact has-bg-image" aria-labelledby="contact-label" style="background-image: url('./assets/images/contact-bg.png')">
        <div class="container">

          <form class="contact-form" [formGroup]="form" (ngSubmit)="sendEmail(form)">

            <h2 class="headline-sm" id="contact-label">Get in touch</h2>

            <p class="contact-text body-md">
              I would love to hear from you.
            </p>

            <div class="wrapper">

              <div>
                <label for="name" class="label">First name</label>

                <input type="text" name="name" id="name" placeholder="Name *" required class="input-field" formControlName="name">
              </div>

              <div>
                <label for="email" class="label">Your Email </label>

                <input type="email" name="email" id="email" placeholder="Email *" required class="input-field" formControlName="email">
              </div>

            </div>

            <label for="subject" class="label">Subject</label>
            <input type="text" name="subject" id="subject" placeholder="Subject *" class="input-field" formControlName="subject">

            <label for="message" class="label">Your message </label>
            <textarea name="message" id="message" placeholder="Your message *" required class="input-field" formControlName="message"></textarea>

            <button type="submit" class="btn btn-tertiary">Send Message</button>

          </form>

          <div class="contact-content">

            <ul class="contact-list">


              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(41, 99%, 64%)">
                  <ion-icon name="mail" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Mail</p>

                  <a href="tel:info@domainname.com" class="body-lg">nilimapachori29@gmail.com</a>
                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(19, 97%, 85%)">
                  <ion-icon name="location" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">City of lakes</p>

                  <address class="body-lg">
                    Bhopal Madhya Pradesh,
                    India
                  </address>
                </div>

              </li>

            </ul>

          </div>

        </div>
      </section>

    </article>
  </main>