<h1>Carbon Foot Print</h1>
<p>carbon footprint, amount of carbon dioxide (CO2) emissions associated with all the activities of a person or other entity (e.g., building, corporation, country, etc.). It includes direct emissions, such as those that result from fossil-fuel combustion in manufacturing, heating, and transportation, as well as emissions required to produce the electricity associated with goods and services consumed. In addition, the carbon footprint concept also often includes the emissions of other greenhouse gases, such as methane, nitrous oxide, or chlorofluorocarbons (CFCs).
</p>

   <p> The carbon footprint concept is related to and grew out of the older idea of ecological footprint, a concept invented in the early 1990s by Canadian ecologist William Rees and Swiss-born regional planner Mathis Wackernagel at the University of British Columbia. An ecological footprint is the total area of land required to sustain an activity or population. It includes environmental impacts, such as water use and the amount of land used for food production. In contrast, a carbon footprint is usually expressed as a measure of weight, as in tons of CO2 or CO2 equivalent per year.</p>

   <p>A variety of different tools exist for calculating the carbon footprints for individuals, businesses, and other organizations. Commonly used methodologies for calculating organizational carbon footprints include the Greenhouse Gas Protocol, from the World Resources Institute and the World Business Council for Sustainable Development, and ISO 14064, a standard developed by the International Organization for Standardization dealing specifically with greenhouse gas emissions. Several organizations, such as the U.S. Environmental Protection Agency, the Nature Conservancy, and British Petroleum, created carbon calculators on the Internet for individuals. Such calculators allow people to compare their own estimated carbon footprints with the national and world averages.</p>
