<main>
    <article>

      <!-- 
        - #SERVICE
      -->

      <section class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('assets/images/service-bg.png')">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="service-label">Skills Details</h2>

          <ul class="service-list">

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">UI Page Design</h3>

                  <p class="body-sm">
                    During my learning I have used tools like pencil, canva, Background Monster, LinkedIn, Photo editor tools, etc to design different beautiful UI pages. These designes are only for customer review and approval before we can start actual development.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="swap-horizontal" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Backend Development</h3>

                  <p class="body-sm">
                    I have worked on technologies like NodeJs and expressJs to design backend Api's which can return desirable results for end user post requests. I learned about the rest Api's. To get some desirable data from internet I have used Axios package to make various requests to open source api's like joke api, weather Api, pin code Api, secrets Api etc
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="code-slash" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Front-end Development</h3>

                  <p class="body-sm">
                    I have used Front-end framework like Angular (Version 16) and Front-end liberary like ReactJs (Version 18).I have also used other libraries for better designing like Bootstrap, Tailwind, Material UI, Font-awsome and ion-icons. These all libraries make the development more easy and fast.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="person" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Authentication and Autherisation</h3>

                  <p class="body-sm">
                    I have learned how to implement authentication and Autherisation to save end user's data. For that I have learned to handle session and cookies. I have also learned to check the details entered by end users to authenticate them like user Id, password, age, email Id, phone number, etc. To secure user data I have implemented encrypt, bcrypt, hashing techniques to save user password from hacking.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="server" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Database</h3>

                  <p class="body-sm">
                    To save user data permanently I have connected my application with MongoDb server (MongoDb Atlus cluster) and MySql data bases. For this we are provided with the packages mysql and moongoose. These packages provide direct methods to perform CURD operations in db collection.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="logo-gitlab" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Git Version control</h3>

                  <p class="body-sm">
                    To work in a team as well as to showcase my code I have used gitLab to store my code globaly. I have used various operations like add, commit, clone, push, merge requests etc to maintain my application versions in efficient way. this also helps to keep track on the progress of my application. I have used netlify, firebase, Back4App, AWS, OpenShift, Engine Yard to deploy my prorjects.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>