<h3>Parent color Using @ViewChild Directive</h3>
color example
<p appChangecolor>Change My color</p>
<div>
    Change color:
    <input type="radio" name="c" (click)="cngcolor('Green')">Green
    <input type="radio" name="c" (click)="cngcolor('Blue')">Blue
    <input type="radio" name="c" (click)="cngcolor('AquaMarine')">AquaMarine
</div>