<!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <ul class="social-list">

        <li>
          <a href="https://gitlab.com/Nilima_Pachori_29" class="social-link">
            <ion-icon name="logo-gitlab"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://www.youtube.com/channel/UCm5WWYqOmIetVBQzGs2Uwkg" class="social-link">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
        </li>

        <!-- <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li> -->

        <li>
          <a href="https://www.linkedin.com/in/nilima-pachori-44a381265/" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>


      </ul>

      <p class="text-center">&copy; {{year}} copyright all right reserved</p>

    </div>
  </footer>