<h4>Check your Everyday Use</h4>
<p>** Type 0 If applience is not used/present</p>
<form #cfform="ngForm" (ngSubmit)="calculate(cfform)">
<table class="table-responsive-md">
    <thead >
        <tr>
          <th scope="col" class="bg-transparent">Applience</th>
          <th scope="col" class="bg-transparent"><p class="shift">Usage</p></th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td class="bg-transparent">Cfl's/Bulbs </td>
        <td class="bg-transparent "><div class="input-group mb-3">
            <input type="number" class="form-control myusage" name="cfl" ngModel>
          </div></td>
      </tr>
      <tr>
        <td class="bg-transparent">Fans </td>
        <td class="bg-transparent"><div class="input-group mb-3">
            <input type="number" class="form-control myusage" name="fan" ngModel>
          </div></td>
      </tr>
      <tr>
        <td class="bg-transparent">Television </td>
        <td class="bg-transparent"><div class="input-group mb-3">
            <input type="number" class="form-control myusage" name="tv" ngModel>
          </div></td>
      </tr>
      <tr>
        <td class="bg-transparent">Washing Machine </td>
        <td class="bg-transparent"><div class="input-group mb-3">
            <input type="number" class="form-control myusage" name="wmachine" ngModel>
          </div></td>
      </tr>
      <tr>
        <td class="bg-transparent">Other Appliences </td>
        <td class="bg-transparent"><div class="input-group mb-3">
            <input type="number" class="form-control myusage" name="otherA" ngModel>
          </div></td>
      </tr>
      <tr>
        <td class="bg-transparent"><button class="btn btn-outline-success" type="submit">Total</button></td>
        <td class="bg-transparent"><div class="input-group mb-3">
            <p>Your result is {{total}}</p>
          </div></td>
      </tr>
    </tbody>
  </table>
</form>