<h1>About Project</h1>

    <table class="table-responsive-md">
        <thead>
            <tr>
                <th> <h2 class="shift">Designer</h2></th>
                <th> <h2 class="shift">Technologies and Frameworks Used</h2></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h5 class="shift"> Nilima Pachori</h5>
                   <p class="shift">MEAN/ MERN stack developer</p>
                </td>
                <td>
                    <ul class="shift">
                        <li>Angular 16 Framework</li>
                        <li>Node Package Manager (NPM)</li>
                        <li>Bootstrap library</li>
                       </ul>
                </td>
            </tr>
        </tbody>
    </table>
  
    <table class="table-responsive-md">
        <thead>
            <tr>
                <th> <h2 class="shift">Concepts Used</h2></th>
                <th> <h2 class="shift">References</h2></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul class="shift">
                        <li>Single Page Application (SPA)</li>
                        <li>Angular Routing</li>
                        <li>Data Binding</li>
                        <li>Interpolation</li>
                       </ul>
                </td>
                <td>
                    <ul class="shift">
                        <li>www.youTube.com</li>
                        <li>www.google.com</li>
                        <li>www.britannica.com</li>
                        <li>https://en.wikipedia.org/wiki/Carbon_footprint</li>
                       </ul>
                </td>
            </tr>
        </tbody>
    </table>



